# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.json

# Editor
.idea

# yarn (using Zero-Installs)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# typescript
*.tsbuildinfo

# codegen
src/graphql/types/index.ts
src/graphql/hooks/index.ts
src/graphql/types/index.mock.ts
src/graphql/enums/index.ts
scripts/codegen/token.json
__schema__.graphql

# scripts
scripts/graphql/*.js
scripts/util/*.js

## storybook
src/stories
build-storybook.log
.vercel
.env*.local
